# Introduction

The purpose of this notebook is to gather the data necessary to import into the [Analysis Notebook.ipynb](https://github.com/bentson1187/Stock-Market-Inefficiency-Analysis/blob/9b9f50faf46bb718a2e2c40d85d93eb37354fe2c/Analysis%20Notebook.ipynb) file that is in this github repo and to feed the accompanying [Tableau dashboard](https://public.tableau.com/app/profile/brian8863/viz/CapstoneDashboard_16252496264850/HoldingsDashboard?publish=yes). I will be grabbing data from the [FMP API](https://financialmodelingprep.com/developer/docs) and creating .csv files that feed both the analysis and the dashboard.

# Import Packages

In [4]:
#data collection
import requests
import json
from urllib.request import urlopen

import pandas as pd
import seaborn as sns

pd.options.display.float_format = '{:,}'.format

# Global Functions

In [ ]:
#get data from api
def get_api_data(url):
    """
    Receive the content of ``url``, parse it as JSON and return the object.

    Parameters
    ----------
    url : str

    Returns
    -------
    dict
    """
    response = urlopen(url)
    data = response.read().decode("utf-8")
    return json.loads(data)

In [1]:
def get_symbols_data(api_key):
  '''
  This function gathers all the stock symbols in the FMP API

  Keyword arguments:
  api_key -- A users api key
  '''
  
  symbols_url = 'https://financialmodelingprep.com/api/v3/financial-statement-symbol-lists?apikey='+api_key

  symbols_list = get_api_data(symbols_url)

  return symbols_list

In [ ]:
def get_value_metrics(api_key, symbols_list, num_symbols):
  '''
  This function gets key metrics from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  number in the symbols_list
  '''
  results = {}
  for stock in symbols_list[:num_symbols]:
    try:
      
      result = get_api_data(f"https://financialmodelingprep.com/api/v3/key-metrics-ttm/{stock}?limit=40&apikey={api_key}")[0]
      results[stock] = pd.Series(result)
      
    
    except:
      pass

  df = pd.DataFrame(results).T


  #create list of columns to keep
  keep_cols = ['revenuePerShareTTM','peRatioTTM','marketCapTTM',
               'priceToSalesRatioTTM','enterpriseValueOverEBITDATTM',
               'evToFreeCashFlowTTM','evToOperatingCashFlowTTM']
  df = df[keep_cols]

  df.reset_index(inplace=True)
  df.rename(columns={'index':'symbol'}, inplace=True)

  return df

In [ ]:
def get_price_metrics(api_key, symbols_list, num_symbols, timeframe):
  '''
  This function gets stock prices from the FMP API and then calculates metrics
  based on those stock prices.
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  number in the symbols_list
  timeframe -- the length of time in days to get the stock prices for
  '''
  df_list = []
  
  for stock in symbols_list[:num_symbols]:
    try:
      response = get_api_data(f"https://financialmodelingprep.com/api/v3/historical-price-full/{stock}?timeseries={timeframe}&apikey={api_key}")['historical']
      df = pd.DataFrame(response)
      df['symbol'] = stock
      df['percent_change'] = (df.loc[0,'close']  - df.loc[len(df)-1, 'open'])/df.loc[len(df)-1, 'open']
      df['percent_negative'] = df['changePercent'] < 0
      df['percent_positive'] = df['changePercent'] > 0
      df['percent_flat'] = df['changePercent'] == 0
      df['total_percent_negative'] = df['percent_negative'].sum()/len(df)
      df['total_percent_positive'] = df['percent_positive'].sum()/len(df)

      df.loc[df['percent_change'] < 0, 'FIP'] = -1 * (df['total_percent_negative'] - df['total_percent_positive'])
      df.loc[df['percent_change'] > 0, 'FIP'] = 1 * (df['total_percent_negative'] - df['total_percent_positive'])

      df = df.loc[[0]]
      df_list.append(df)

    except:
      pass
      
  df = pd.concat(df_list)

  return df

In [ ]:
def get_company_profile(api_key, symbols_list, num_symbols):
  '''
  This function gets company profile information from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  '''
  
  df_list = []
  for stock in symbols_list[:num_symbols]:
    try:
      results = get_api_data(f"https://financialmodelingprep.com/api/v3/profile/{stock}?apikey={api_key}")[0]
      df = pd.DataFrame.from_dict(results, orient='index').T
      df_list.append(df)
  
    except:
      pass

  df = pd.concat(df_list)

  return df

In [ ]:
def get_rd_spend(api_key, symbols_list, num_symbols):
  '''
  This function gets research and development spend from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  '''
  
  results = {}
  
  for stock in symbols_list[:num_symbols]:
    try:
      result = get_api_data(f"https://financialmodelingprep.com/api/v3/income-statement/{stock}?limit=1&apikey={api_key}")[0]['researchAndDevelopmentExpenses']

      results[stock] = result

    except:
      pass
      
  df = pd.DataFrame(results.values(), columns=['rd_spend'], index=results.keys())
  df.reset_index(inplace=True)
  df.rename(columns={'index':'symbol'}, inplace=True)

  return df

In [ ]:
def get_enterprise_value(api_key, symbols_list, num_symbols):
  '''
  This function gets the enterprise value from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  '''
  results = {}
  
  for stock in symbols_list[:num_symbols]:
    try:
      
      results[stock] = get_api_data(f'https://financialmodelingprep.com/api/v3/enterprise-values/{stock}?limit=40&apikey={api_key}')[0]['enterpriseValue']

    except:
      pass
    
  df = pd.DataFrame(results.values(), columns=['enterprise_value'], index=results.keys())
  df.reset_index(inplace=True)
  df.rename(columns={'index':'symbol'}, inplace=True)

  return df

In [ ]:
def get_income_statement(api_key, symbols_list, num_symbols):
  '''
  This function gets the income statement information from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  '''
  df_list = []

  for stock in symbols_list[:num_symbols]:
    try:

      df_list.append(get_api_data(f'https://financialmodelingprep.com/api/v3/income-statement/{stock}?limit=120&apikey={api_key}')[:num_symbols])

    except:
      pass

  df = pd.DataFrame(df_list)
  #df = df[['symbol','ebitda','revenue','netIncome']]
  df.rename(columns={'revenue':'sales', 'netIncome':'earnings'}, inplace=True)
  
  return df

In [ ]:
def get_quarterly_income_statement_timeseries(api_key, symbols_list, num_symbols, num_quarters):
  '''
  This function gets the quarterly income statements from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  num_quarters -- the number of quarters to grab the income statements from
  '''
  df_list = []

  for stock in symbols_list[:num_symbols]:
    try:

      df_list.append(pd.DataFrame(get_api_data(f'https://financialmodelingprep.com/api/v3/income-statement/{stock}?period=quarter&limit=400&apikey={api_key}')[:num_quarters]))

    except:
      pass

  df = pd.concat(df_list)
  df.rename(columns={'revenue':'sales', 'netIncome':'earnings'}, inplace=True)
  df.reset_index(inplace=True)
  df.drop(columns=['index'], inplace=True)
  
  return df

In [ ]:
def get_quarterly_cashflow_statement_timeseries(api_key, symbols_list, num_symbols, num_quarters):
  '''
  This function gets the quarterly cashflow statements from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  num_quarters -- the number of quarters to grab the income statements from
  '''
  df_list = []

  for stock in symbols_list[:num_symbols]:
    try:

      df_list.append(pd.DataFrame(get_api_data(f'https://financialmodelingprep.com/api/v3/cash-flow-statement/{stock}?apikey={api_key}&period=quarter&limit=400')[:num_quarters]))

    except:
      pass

  df = pd.concat(df_list)
  df.reset_index(inplace=True)
  df.drop(columns=['index'], inplace=True)
  
  return df

In [ ]:
def get_quarterly_key_metrics_statement_timeseries(api_key, symbols_list, num_symbols, num_quarters):
  '''
  This function gets the quarterly key metrics statements from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  num_quarters -- the number of quarters to grab the income statements from
  '''
  df_list = []

  for stock in symbols_list[:num_symbols]:
    try:

      df_list.append(pd.DataFrame(get_api_data(f"https://financialmodelingprep.com/api/v3/key-metrics/{stock}?period=quarter&limit={num_quarters}&apikey={api_key}")))

    except:
      pass

  df = pd.concat(df_list)
  df.reset_index(inplace=True)
  df.drop(columns=['index'], inplace=True)
  
  return df

In [ ]:
def get_stock_insider_trading(api_key, symbols_list, num_symbols, num_records):
  '''
  This function gets the stock insider trading information from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  num_records -- the number of records to get per stock
  '''
  df_list = []

  for stock in symbols_list[:num_symbols]:
    try:

      df_list.append(pd.DataFrame(get_api_data(f"https://financialmodelingprep.com/api/v4/insider-trading?symbol={stock}&limit={num_records}&apikey={api_key}")))

    except:
      pass

  df = pd.concat(df_list)
  df.reset_index(inplace=True)
  df.drop(columns=['index'], inplace=True)
  
  return df

In [ ]:
def get_cashflows(api_key, symbols_list, num_symbols):
  '''
  This function gets the latest cashflow statement from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  '''
  df_list = []

  for stock in symbols_list[:num_symbols]:
    try:

      df_list.append(get_api_data(f'https://financialmodelingprep.com/api/v3/cash-flow-statement/{stock}?apikey={api_key}&limit=190')[0])

    except:
      pass

  df = pd.DataFrame(df_list)
  df = df[['symbol','freeCashFlow','operatingCashFlow']]

  return df

In [ ]:
def get_daily_price(api_key, symbols_list, num_symbols, timeframe):
  '''
  This function gets the the daily stock price from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  timeframe -- the number of days to get the stock price for
  '''  
  df_list = []
  
  for stock in symbols_list[:num_symbols]:
    try:
      response = get_api_data(f"https://financialmodelingprep.com/api/v3/historical-price-full/{stock}?timeseries={timeframe}&apikey={api_key}")['historical']
      df = pd.DataFrame(response)
      df['symbol'] = stock
      df_list.append(df)

    except:
      pass
      
  df = pd.concat(df_list)

  return df

In [ ]:
def get_stock_news(api_key, symbols_list, num_symbols, num_stories):
  '''
  This function gets the stock news from the FMP API
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  num_stores -- the number of stories to grab for each stock
  '''
  df_list = []

  for stock in symbols_list[:num_symbols]:
    try:

      df_list.append(pd.DataFrame(get_api_data(f'https://financialmodelingprep.com/api/v3/stock_news?tickers={stock}&limit={num_stories}&apikey={api_key}')))

    except:
      pass

  df = pd.concat(df_list)
  df.reset_index(inplace=True)
  df.drop(columns=['index'], inplace=True)
  
  return df

In [ ]:
def get_all_api_data(api_key, num_symbols, timeframe):
  '''
  This function utilizes previous functions to gather a single cohesive dataset
  for analysis and modeling
  
  Keyword arguments:
  api_key -- A users api key
  symbols_list -- a list of stock symbols
  num_symbols -- the number of symbols to grab from the API out of the total 
  timeframe -- the number of days to get the stock price for
  '''
  #get symbols list
  raw_symbols_list = get_symbols_data(api_key)

  #get key metrics ttm data from api
  df_value_metrics = get_value_metrics(api_key, raw_symbols_list, num_symbols)
  
  #standardize feature names
  df_value_metrics.rename(columns={'companyName':'company_name',
                                   'exchangeShortName':'exchange_short_name',
                                   'fullTimeEmployees':'full_time_employees',
                                   'isEtf':'is_etf','price_to_sales_ratio_ttm':'ps_ratio_ttm',
                                   'peRatioTTM':'pe_ratio_ttm',
                                   'evToOperatingCashFlowTTM':'ev_to_operating_cashflow_ttm',
                                   'enterpriseValueOverEBITDATTM':'ev_to_EBITDA_ttm',
                                   'evToFreeCashFlowTTM':'ev_to_free_cashflow_ttm',
                                   'priceToSalesRatioTTM':'ps_ratio_ttm',
                                   'revenuePerShareTTM':'revenue_per_share_ttm',
                                   'marketCapTTM':'market_cap_ttm', 'close':'stock_price'}
                          ,inplace=True)

  #define cols for nulls and negatives removal
  performance_metrics_cols = ['revenue_per_share_ttm','pe_ratio_ttm','market_cap_ttm',
                            'ps_ratio_ttm','ev_to_EBITDA_ttm',
                            'ev_to_free_cashflow_ttm', 'ev_to_operating_cashflow_ttm']

  #filter dataframe by removing a symbol which has a null in any of the performance metrics
  #create lists of symbol_ids
  pe_ratio_nulls = df_value_metrics.loc[df_value_metrics['pe_ratio_ttm'].isna() == True,'symbol'].tolist()
  ev_to_operating_cashflow_nulls = df_value_metrics.loc[df_value_metrics['ev_to_operating_cashflow_ttm'].isna() == True,'symbol'].tolist()
  ev_to_EBITDA_nulls = df_value_metrics.loc[df_value_metrics['ev_to_EBITDA_ttm'].isna() == True,'symbol'].tolist()
  ev_to_free_cashflow_nulls = df_value_metrics.loc[df_value_metrics['ev_to_free_cashflow_ttm'].isna() == True,'symbol'].tolist()
  price_to_sales_ratio_nulls = df_value_metrics.loc[df_value_metrics['ps_ratio_ttm'].isna() == True,'symbol'].tolist()
  market_cap_nulls = df_value_metrics.loc[df_value_metrics['market_cap_ttm'].isna() == True,'symbol'].tolist()

  #combine symbol_ids to a single list
  nulls_symbol_id_list = pe_ratio_nulls + ev_to_operating_cashflow_nulls + \
  ev_to_EBITDA_nulls + ev_to_free_cashflow_nulls + \
  price_to_sales_ratio_nulls + market_cap_nulls

  #create a set to remove duplicate symbol_ids
  nulls_symbol_id_list = set(nulls_symbol_id_list)

  #filter dataframe where the symbol_ids are not in the null symbol_ids list
  df_value_metrics = df_value_metrics.loc[~df_value_metrics['symbol'].isin(nulls_symbol_id_list)]

  #remove negative values for performance metrics
  for col in performance_metrics_cols:
    df_value_metrics.drop(df_value_metrics.loc[df_value_metrics[col] < 0].index, inplace=True)

  #create a clean list of symbols
  clean_symbols_list = list(df_value_metrics['symbol'].unique())

  #get stock price data from api
  df_price = get_price_metrics(api_key, clean_symbols_list, num_symbols=num_symbols, timeframe=timeframe)

  #merge dataframes
  df = pd.merge(df_value_metrics, df_price, on='symbol')

  #get company profile data from api
  df_company_profile = get_company_profile(api_key, clean_symbols_list, num_symbols=num_symbols)

  #merge dataframes
  df = pd.merge(df, df_company_profile, on='symbol')

  #get the r&d spend from API
  df_rd = get_rd_spend(api_key, clean_symbols_list, num_symbols=num_symbols)

  #merge dataframes
  df = pd.merge(df, df_rd, on='symbol')

  #get enterprise value from API
  df_ev = get_enterprise_value(api_key, clean_symbols_list, num_symbols)

  #merge dataframes
  df = pd.merge(df, df_ev, on='symbol')

  #get income statement from API
  df_income = get_income_statement(api_key, clean_symbols_list, num_symbols)

  #merge dataframes
  df = pd.merge(df, df_income, on='symbol')

  #get cashflows from API
  df_cashflows = get_cashflows(api_key, clean_symbols_list, num_symbols)

  #merge dataframes
  df = pd.merge(df, df_cashflows, on='symbol')

  df = df.round(2)

  return df

# Gather API Data

I will now use the API call functions to create .csv's for either modeling or for the Tableau dashboard.

In [ ]:
#retrieve api key
f = open('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/FMP_API_2.json')
api_key = json.load(f)['api_key']

In [ ]:
# #retrieve symbols list
# symbols_list = get_symbols_data(api_key)

## Pre-Modeling DataFrame

I will now gather the information needed for the analysis and modeling of the data.

In [ ]:
# #get all api data together for Modeling (1 hour 45 min)
# df_original = get_all_api_data(api_key, 25000, 253)

In [ ]:
# #write df to csv
# df_original.to_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Modeling/full dataset for capstone (7-12-21).csv',index=True)

In [ ]:
#import saved csv
df_original = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Modeling/full dataset for capstone (7-12-21).csv', 
                          index_col='Unnamed: 0')

In [ ]:
df_original.head()

    symbol  revenue_per_share_ttm  ...     freeCashFlow  operatingCashFlow
0  0003.HK                   2.29  ...  2,615,300,000.0    9,910,200,000.0
1  0006.HK                   0.63  ...    960,000,000.0      962,000,000.0
2  0012.HK                    5.0  ...  7,072,000,000.0    7,072,000,000.0
3  0016.HK                  28.53  ... 44,882,000,000.0   47,868,000,000.0
4  0025.HK                  21.14  ...    153,232,000.0      330,904,000.0

[5 rows x 68 columns]

## Post-Modeling DataFrame

I am now importing the data that is coming from the [Analysis Notebook.ipynb](https://github.com/bentson1187/Stock-Market-Inefficiency-Analysis/blob/9b9f50faf46bb718a2e2c40d85d93eb37354fe2c/Analysis%20Notebook.ipynb) file after analysis and modeling are complete. This is done here to provide a cleaned up list of stock symbols. There are over 20k stock symbols going into the analysis but only 4k afterwards. Getting additional information only on the cleaned set of stock symbols will create smaller .csv files and keep the Tableau dashboard performant.

In [ ]:
#import saved csv
df_eda = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Exploration Data for Tableau EDA.csv')

In [ ]:
df_eda.head()

     symbol  revenue_per_share_ttm  ...  model_action  model_correct
0     IIVIP              26,456.67  ...     Risky Buy           True
1       MON                  247.0  ...    Affordable           True
2   1245.HK                  23.45  ...    Affordable           True
3    KGL.NS                   1.65  ...    Affordable           True
4  ALBDM.PA                  25.99  ...     Risky Buy           True

[5 rows x 32 columns]

## Tableau Dataframes

I will now utilize the API calls to create .csv files which are solely used for the [Tableau dashboard](https://public.tableau.com/app/profile/brian8863/viz/CapstoneDashboard_16252496264850/HoldingsDashboard?publish=yes).

In [ ]:
#get symbols list from modeling dataframe
clean_symbols_list = list(df_eda['symbol'].unique())

### 365 Day Stock Price

Gather 365 days of daily stock price data for Tableau

In [ ]:
# #get daily stock price (1 hr)
# df_stock_price = get_daily_price(api_key, clean_symbols_list, 6000, 253)

In [ ]:
# #write df to csv
# df_stock_price.to_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/365 Day Daily Stock Price.csv',index=True)

In [ ]:
#read df from csv
df_stock_price = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/365 Day Daily Stock Price.csv', 
                             index_col='Unnamed: 0')

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
df_stock_price.head()

         date  open  high  ...        label         changeOverTime   symbol
0  2021-07-12 12.24 12.24  ...  July 12, 21                    0.0  0003.HK
1  2021-07-09 12.18 12.28  ...  July 09, 21  0.0049299999999999995  0003.HK
2  2021-07-08  12.1 12.18  ...  July 08, 21                0.00331  0003.HK
3  2021-07-07 12.08  12.1  ...  July 07, 21 -0.0016600000000000002  0003.HK
4  2021-07-06 12.18  12.2  ...  July 06, 21 -0.0049299999999999995  0003.HK

[5 rows x 14 columns]

### 6 Months Price Metrics

Get 6 months of stock prices and calculate the price metrics.

In [ ]:
# #get 6 months price metrics
# df_price_metrics = get_price_metrics(api_key, clean_symbols_list, 5000, 127)

In [ ]:
# #write df to csv
# df_price_metrics.to_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/6 Month Price Metrics.csv',index=True)

In [ ]:
#read df from csv
df_price_metrics = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/6 Month Price Metrics.csv', 
                             index_col='Unnamed: 0')

In [ ]:
df_price_metrics.head()

         date  open  ...  total_percent_positive                   FIP
0  2021-07-14 12.38  ...      0.4094488188976378  0.055118110236220486
0  2021-07-14 48.75  ...      0.5275590551181102  -0.14960629921259838
0  2021-07-14  37.0  ...      0.5196850393700787  -0.08661417322834641
0  2021-07-14 116.6  ...      0.4960629921259842 -0.023622047244094502
0  2021-07-14  9.82  ...      0.2598425196850393  -0.07086614173228345

[5 rows x 21 columns]

### Timeseries Quarterly Income Statement

Get quarterly income statements.

In [ ]:
# #get income statement df
# df_income_statement = get_quarterly_income_statement_timeseries(api_key, clean_symbols_list, 5000, 12)

In [ ]:
# #write df to csv
# df_income_statement.to_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Quarterly Income Statement Timeseries.csv',index=True)

In [ ]:
#read from csv
df_income_statement = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Quarterly Income Statement Timeseries.csv',
                                  index_col='Unnamed: 0')

In [ ]:
df_income_statement.head()

         date  ...                                          finalLink
0  2019-09-30  ...  https://www1.hkexnews.hk/search/titlesearch.xhtml
1  2019-06-30  ...  https://www1.hkexnews.hk/search/titlesearch.xhtml
2  2019-03-31  ...  https://www1.hkexnews.hk/search/titlesearch.xhtml
3  2019-01-31  ...  https://www1.hkexnews.hk/search/titlesearch.xhtml
4  2018-09-30  ...  https://www1.hkexnews.hk/search/titlesearch.xhtml

[5 rows x 35 columns]

### Timeseries Quarterly Cash Flow Statement

Get quarterly cashflow statements.

In [ ]:
# #get cashflow statement df
# df_cashflow_statement = get_quarterly_cashflow_statement_timeseries(api_key, clean_symbols_list, 5000, 12)

In [ ]:
# #write df to csv
# df_cashflow_statement.to_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Quarterly Cashflow Statement Timeseries.csv',index=True)

In [ ]:
#read from csv
df_cashflow_statement = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Quarterly Cashflow Statement Timeseries.csv',
                                    index_col='Unnamed: 0')

In [ ]:
df_cashflow_statement.head()

         date  ...                                          finalLink
0  2019-09-30  ...  https://www1.hkexnews.hk/search/titlesearch.xhtml
1  2019-06-30  ...  https://www1.hkexnews.hk/search/titlesearch.xhtml
2  2019-03-31  ...  https://www1.hkexnews.hk/search/titlesearch.xhtml
3  2019-01-31  ...  https://www1.hkexnews.hk/search/titlesearch.xhtml
4  2018-09-30  ...  https://www1.hkexnews.hk/search/titlesearch.xhtml

[5 rows x 38 columns]

### Timeseries Quarterly Company Key Metrics Statement

Get quarterly company key metrics statements.

In [ ]:
# #get key metrics statement
# df_key_metrics_statement = get_quarterly_key_metrics_statement_timeseries(api_key, clean_symbols_list, 5000, 12)

In [ ]:
# #write df to csv
# df_key_metrics_statement.to_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Quarterly Key Metrics Statement Timeseries.csv',index=True)

In [ ]:
df_key_metrics = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Quarterly Key Metrics Statement Timeseries.csv', 
                             index_col='Unnamed: 0')

In [ ]:
df_key_metrics.head()

    symbol        date  ...                  roe        capexPerShare
0  0003.HK  2019-06-30  ...  0.02411333331512849 -0.09921753153678498
1  0003.HK  2018-06-30  ... 0.032890335753619604 -0.09490017833049548
2  0003.HK  2017-06-30  ...    0.031687597877484 -0.08644539921115603
3  0003.HK  2016-06-30  ... 0.029583985134952712 -0.08800856303000608
4  0003.HK  2015-06-30  ... 0.029129811478540813 -0.08939436478232836

[5 rows x 60 columns]

### Stock Insider Trading

Get stock insider trading information.

In [ ]:
# #get stock insider trading
# df_stock_insider_trading = get_stock_insider_trading(api_key, clean_symbols_list, 5000, 500)

In [ ]:
# #write df to csv
# df_stock_insider_trading.to_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Stock Insider Trading.csv',index=True)

In [ ]:
#read from csv
df_stock_insider_trading = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Stock Insider Trading.csv',
                                       index_col= 'Unnamed: 0')

In [ ]:
df_stock_insider_trading.head()

  symbol  ...                                               link
0      A  ...  https://www.sec.gov/Archives/edgar/data/000109...
1      A  ...  https://www.sec.gov/Archives/edgar/data/000109...
2      A  ...  https://www.sec.gov/Archives/edgar/data/000109...
3      A  ...  https://www.sec.gov/Archives/edgar/data/000109...
4      A  ...  https://www.sec.gov/Archives/edgar/data/000109...

[5 rows x 14 columns]

### Company News

Get company news information.

In [ ]:
# #get stock news
# df_stock_news = get_stock_news(api_key, clean_symbols_list, 5000, 25)

In [ ]:
# #write df to csv
# df_stock_news.to_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Stock News.csv',index=True)

In [5]:
#read from csv
df_stock_news = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/FI Capstone/Data/For Dashboarding/Stock News.csv',index_col='Unnamed: 0')

In [6]:
df_stock_news.head()

  symbol  ...                                                url
0  IIVIP  ...  https://finance.yahoo.com/news/ii-vi-nasdaq-ii...
1  IIVIP  ...  https://finance.yahoo.com/m/90fdd055-617a-3a9e...
2  IIVIP  ...  https://finance.yahoo.com/news/ii-vi-incorpora...
3  IIVIP  ...  https://finance.yahoo.com/news/ii-vi-incorpora...
0    RZB  ...  https://seekingalpha.com/article/4431584-ivov-...

[5 rows x 7 columns]